.products-selection {
    @include flex-row;
    justify-content: space-between;
    align-content: center;


    margin: 0 $outer-margin;
    padding: 45px 0;

    &-bg-color {
        background-color: $accent-background-color;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $main-font-color;

        &:hover {
            opacity: 0.5;
            &::before {
                opacity: 0.5;
            }
        }

        &::before {
            content: "<";
            margin-right: 30px;
        }
    }

    form {
        @include flex-row;

        width: 65%;

        @include small-devices {
            display: none;
        }

        @include mobile {
            display: none;
        }
        div {
            font-size: 18px;
            line-height: 58px;

            input[type="checkbox"] {
                margin-right: 18px;
                @include small-devices {
                    margin-right: 6px;
                }
            }

            label {
                color: $main-font-color;
                margin-right: 40px;

                text-transform: uppercase;

                @include small-devices {
                    margin-right: 15px;
                }
            }
        }
    }

    button {
        align-self: flex-end;

        padding: 20px 35px;

        @include small-devices {
            padding: 20px 10px;
            align-self: center;
        }

        @include mobile{
            padding: 20px 10px;
            align-self: center;
        }


        text-transform: uppercase;

        color: $background-color;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: $accent-color;

        font-size: 14px;

        &:hover {
            outline: none;
            border-color: $accent-color;
            background-color: $background-color;
            color: $accent-color;
        }

        &:focus {
            outline: none;
        }
    }
}
