.products-type {
    margin-bottom: 70px;
    &:nth-child(2n) {
        header {
            @include flex-row;
            flex-direction: row-reverse;
        }

        .products-type-controls {
            > p {
                text-align: left;
            }
        }
    }

    > header {
        margin-top: 30px;
        @include flex-row;

        h2 {
            margin: 15px 0;
            color: $main-font-color;
            text-transform: uppercase;
            font-size: 20px;
        }

        > div {
            margin-top: 25px;
            height: 0;
            width: 90%;
            border: 1px solid $accent-color;
        }
    }

    > ul {
        @include flex-row;
        justify-content: space-between;

        padding: 0;

        list-style: none;

        @include small-devices {
            justify-content: center;
        }

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $main-font-color;
            }
        }
    }

    &-controls {
        margin-top: 33px;
        > p {
            margin: 0;
            color: $accent-color;
            text-align: right;
            letter-spacing: 2px;

            @include small-devices {
                text-align: center;
            }

            @include mobile {
                text-align: center;
            }

            a {
                color: $accent-color;
                text-decoration: none;

                &:hover {
                    background-color: $accent-background-color;
                }
            }
        }
    }
}
