.product {
    padding: 30px 25px;
    background-color: $accent-background-color;
    border: 6px solid $accent-background-color;
    border-radius: 3px;

    text-transform: uppercase;

    &-small {
        width: 258px;
        p {
            img {
                height: 215px;
            }
        }
    }

    &-big {
        width: 100%;
    }

    &:hover {
        border-color: $accent-color;
    }

    header {
        @include flex-row;
        justify-content: space-between;
    }

    p {
        text-align: center;
        margin: 30px 0 50px 0;
    }

    footer {
        @include flex-row;
        justify-content: space-between;
    }

    &-price {
        &::after {
            content: "€";
        }
    }

    &-name {
        color: $accent-color;
    }

    &-description {
        width: 50%;
    }
}
